# Base de données
DATABASE_URL=mysql://root:password@localhost:3306/database_name

# --------------------------
# Microsoft Entra ID
# --------------------------
AUTH_MICROSOFT_ENTRA_ID_ID=your-client-id
AUTH_MICROSOFT_ENTRA_ID_SECRET=your-client-secret
AUTH_MICROSOFT_ENTRA_ID_ISSUER=https://login.microsoftonline.com/client-entraid/v2.0