# Environment variables for development next-auth, database, Microsoft Entra ID, and third-party services
NEXTAUTH_SECRET=your-nextauth-secret
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=your-google-maps-api-key
NEXT_PUBLIC_ADMIN_PASSWORD=your-admin-password

# Base de données
DATABASE_URL=mysql://root:password@localhost:3306/database_name
# --------------------------
# Microsoft Entra ID
# --------------------------
AUTH_MICROSOFT_ENTRA_ID_ID=your-client-id
AUTH_MICROSOFT_ENTRA_ID_SECRET=your-client-secret
AUTH_MICROSOFT_ENTRA_ID_ISSUER=https://login.microsoftonline.com/client-entraid/v2.0

#for sending emails and SMS
TWILIO_ACCOUNT_SID=your_twilio_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number
RESEND_API_KEY=your_resend_api_key