# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
!.yarn/sdks

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (Node.js)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directories
/coverage
.nyc_output

# Grunt intermediate storage
.grunt

# Bower dependency directory
bower_components

# Node-waf configuration
.lock-wscript

# Compiled binary addons
build/Release

# JSPM and Snowpack dependencies
jspm_packages/
web_modules/

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# Optional npm, yarn, eslint, stylelint caches
.npm
.eslintcache
.stylelintcache
.pnpm-debug.log*

# REPL history
.node_repl_history

# npm pack output
*.tgz

# Next.js build output
/.next
/out

# Nuxt.js build output
.nuxt
dist

# Gatsby
.cache/
# public (si utilisé)
# public

# Vuepress
.vuepress/dist
.temp
.cache

# SvelteKit
.svelte-kit/

# VitePress
**/.vitepress/dist
**/.vitepress/cache

# Docusaurus
.docusaurus

# Serverless
.serverless/

# FuseBox
.fusebox/

# DynamoDB Local
.dynamodb/

# Firebase
.firebase/

# TernJS
.tern-port

# VSCode tests
.vscode-test

# Logs Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Debug
npm-debug.log*
yarn-debug.log*
.pnpm-debug.log*

# Env files
.env*
!.env.example

# Vercel
.vercel

# Misc
.DS_Store
*.pem
